.form {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f0efe9;

  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.form__container {
  min-height: 753px;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    image-set(
      url("../../img/form/background-mini@1x.jpg") 1x,
      url("../../img/form/background-mini@2x.jpg") 2x
    );
  padding: 43px 10px 40px;

  @include media-tablet {
    width: 652px;
    min-height: 780px;
    padding: 0;
    margin: 0 auto;
    border-radius: 16px;
    background-image:
      image-set(
        url("../../img/form/background-medium@1x.jpg") 1x,
        url("../../img/form/background-medium@2x.jpg") 2x
      );
  }

  @include media-desktop {
    width: 1240px;
    min-height: 800px;
    background-image:
      image-set(
        url("../../img/form/background-large@1x.jpg") 1x,
        url("../../img/form/background-large@2x.jpg") 2x
      );
  }
}

.form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;

  @include media-tablet {
    padding: 11px 0;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  @include media-desktop {
    padding: 14px 0;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__send-form {
  background-color: #316dc2;
  width: 300px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 15px;
  padding-bottom: 27px;
  box-sizing: border-box;

  @include media-tablet {
    width: 442px;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-desktop {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
    width: 490px;
  }
}

.form__description {
  color: #f0efe9;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;

  @include media-tablet {
    width: 350px;
    font-size: 16px;
    margin-bottom: 40px;
  }

  @include media-desktop {
    line-height: 26px;
  }
}

.form__label {
  display: block;
  margin-bottom: 20px;
}

.form__label span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #f0efe9;
  opacity: 0.8;

  @include media-tablet {
    font-size: 14px;
    line-height: 20px;
  }

  @include media-desktop {
    line-height: 18px;
  }
}

.form__label--select span {
  @include media-desktop {
    line-height: 14px;
  }
}

.form__input {
  display: block;
  width: 100%;
  padding: 16px 25px;
  box-sizing: border-box;
  margin-top: 12px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  opacity: 0.3;
  font-family: inherit;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.form__text-area {
  display: block;
  width: 100%;
  height: 94px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  opacity: 0.3;
  margin-top: 12px;

  @include media-tablet {
    height: 88px;
  }

  @include media-desktop {
    height: 90px;
  }
}

.form__select {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 13px 20px;
  width: 260px;
  height: 52px;
  background-color: transparent;
  appearance: none;
  margin-top: 12px;
  background-image: url("/__spritemap#sprite-arrow-select-white-view");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 16px 16px;
  font-family: inherit;

  &:focus,
  &:active {
    background-image: url("/__spritemap#sprite-arrow-select-focus-white-view");
  }

  @include media-tablet {
    width: 100%;
  }
}

.form__checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  &::before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 2px;
    opacity: 1;
  }
}

.form__checkbox-label br {
  @include media-tablet {
    display: none;
  }
}

.form__checkbox-label:hover,
.form__checkbox-label:focus {
  &::before {
    opacity: 1;
  }
}

.form__checkbox-label:has(input:checked) {
  &::before {
    background-image: url("/__spritemap#sprite-blue-mark-view");
    background-size: 8px 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    opacity: 1;
  }
}

.form__checkbox-label:hover:has(input:checked),
.form__checkbox-label:focus:has(input:checked) {
  &::before {
    background-color: #316dc2;
    background-image: url("/__spritemap#sprite-white-mark-view");
  }
}

.form__checkbox-label:has(input:disabled) {
  &::before {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.form__checkbox-label:has(input:disabled:checked) {
  &::before {
    border: 1px solid rgba(169, 175, 183, 1);
    background-color: rgba(169, 175, 183, 1);
  }
}

.form__checkbox-label span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.9;
  width: 230px;

  @include media-tablet {
    width: auto;
  }
}

.form__send-form--sended .about__checkbox-label:has(input:invalid) {
  &::before {
    border: 1px solid rgba(255, 94, 102, 0.2);
  }
}

.form__submit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 260px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  font-family: inherit;
  margin-top: 20px;
  cursor: pointer;

  &::after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-link-arrow-bold-blue-view");
    background-size: 8px 8px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #ffffff;
    color: #316dc2;

    &::after {
      background-color: #316dc2;
      background-image: url("/__spritemap#sprite-link-arrow-hover-white-view");
    }
  }

  &:focus {
    background-color: transparent;
    border: 1px solid #ffffff;

    &::after {
      background-color: #ffffff;
      background-image: url("/__spritemap#sprite-link-arrow-focus-blue-view");
    }
  }

  &:active {
    &::after {
      background-color: #316dc2;
      background-image: url("/__spritemap#sprite-link-arrow-active-white-view");
    }
  }

  &:disabled {
    border: 1px solid #a9afb7;
  }

  @include media-tablet {
    font-size: 14px;
    line-height: 14px;
    width: 352px;
    margin-top: 40px;

    &::after {
      width: 46px;
      height: 46px;
    }
  }
}

.form__submit span {
  display: block;
  width: 160px;

  @include media-tablet {
    width: 240px;
  }
}

.form__submit:active span {
  opacity: 0.7;
}

.form__submit:disabled span {
  color: #a9afb7;
}

.form__send-form--sended .form__input:invalid,
.form__send-form--sended .form__text-area:invalid,
.form__send-form--sended .form__select {
  border: 1px solid #ff5e66;
  color: rgba(255, 94, 102, 0.2);
}
