.grant {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #316dc2;

  @include media-tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-desktop {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.grant__title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;

  @include media-tablet {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  @include media-desktop {
    font-size: 50px;
    margin-bottom: 30px;
  }
}

.grant__title + p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  @include media-tablet {
    font-size: 16px;
    width: 498px;
  }

  @include media-desktop {
    line-height: 26px;
  }
}

.grant__picture-wrapper {
  margin-top: 30px;
  margin-bottom: 40px;

  @include media-tablet {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  @include media-desktop {
    margin-bottom: 0;
  }
}

.grant__picture-wrapper img {
  display: block;
}

.grant__description {
  width: 210px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;

  @include media-tablet {
    width: auto;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 45px;
  }

  @include media-desktop {
    font-size: 32px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 55px;
  }
}

.grant__list {
  margin: 0;
  padding-left: 15px;
  list-style: none;

  @include media-tablet {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 305px 305px;
    gap: 25px 48px;
  }

  @include media-desktop {
    display: block;
  }
}

.grant__item {
  position: relative;
  padding: 24px 25px;
  border: 1px solid #f0efe9;
  border-radius: 16px;
  margin-bottom: 15px;
  counter-increment: item;
  color: #f0efe9;
  font-size: 14px;
  line-height: 20px;

  &::before {
    content: counter(item);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #316dc2;
    color: #ffffff;
    position: absolute;
    left: -15px;
    top: -5px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 18px;
  }

  @include media-tablet {
    margin: 0;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 23px;

    &::before {
      width: 42px;
      height: 42px;
      font-size: 22px;
      line-height: 22px;
      left: -21px;
      top: -15px;
    }
  }

  @include media-desktop {
    margin-bottom: 23px;
    padding: 30px 25px;
    line-height: 26px;
  }
}

.grant__item:last-child {
  margin-bottom: 0;
}

.grant__container {
  @include media-desktop {
    display: grid;
    grid-template-columns: 498px 498px;
    gap: 138px;
  }
}
