.hero {
  margin-top: -75px;
  position: relative;

  @include media-tablet {
    margin-top: -85px;
  }
}

.hero__picture-wrapper {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.hero__slide-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.hero__swiper-slide {
  position: relative;
}

.hero__text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;

  @include media-tablet {
    bottom: 60px;
  }
}

.hero__content-wrapper {
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero__text-wrapper h2 {
  margin: 0;
  padding-left: 14px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 16px;
  border-radius: 0 16px 16px 0;
  color: #316dc2;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 290px;
  box-sizing: border-box;
  background-color: #ffffff;

  @include media-tablet {
    width: 659px;
    padding-left: 40px;
    padding-right: 69px;
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }

  @include media-desktop {
    width: 968px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__text-overlay {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
  border-radius: 0 0 14px;
  width: 267px;
  box-sizing: border-box;
  background-color: #ffffff;

  &::after {
    content: " ";
    display: block;
    width: 8px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 267px;
    background-image: url("/__spritemap#sprite-top-left-angle-view");
    background-repeat: no-repeat;
  }

  @include media-tablet {
    width: 325px;
    padding-left: 40px;
    padding-right: 44px;
    padding-bottom: 35px;
    border-radius: 0 0 0 30px;

    &::after {
      display: none;
    }
  }

  @include media-desktop {
    width: 496px;
    padding-left: 50px;
    padding-right: 55px;
  }
}

.hero__text-overlay--wide {
  @include media-tablet {
    padding-right: 0;
  }
}

.hero__text-wrapper p {
  margin: 0;
  color: #484848;
  font-size: 14px;
  line-height: 20px;

  @include media-tablet {
    font-size: 16px;
  }

  @include media-desktop {
    line-height: 26px;
  }
}

.hero__text-wrapper p + p {
  margin-top: 10px;
}

.hero__button-wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 0 0 14px 14px;
  box-sizing: border-box;
  width: 184px;

  &::after {
    content: " ";
    display: block;
    width: 8px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 184px;
    background-image: url("/__spritemap#sprite-top-left-angle-view");
    background-repeat: no-repeat;
  }

  @include media-tablet {
    width: 268px;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 79px;
    border-radius: 0 0 30px;

    &::after {
      left: 268px;
      width: 26px;
      height: 26px;
    }
  }

  @include media-desktop {
    width: 279px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 45px;

    &::after {
      left: 279px;
    }
  }
}

.hero__text-overlay--wide ~ .hero__button-wrapper {
  @include media-tablet {
    padding-bottom: 38px;
  }
}

.hero__button-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-left: 21px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #316dc2;
  border: 1px solid #316dc2;
  border-radius: 30px;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  transition: background-color 0.2s;
  width: 154px;
  box-sizing: border-box;

  &::after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    background-color: #316dc2;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-link-arrow-view");
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: center center;
    transition: background-color 0.2s;
  }

  &:hover {
    background-color: #316dc2;
    color: #ffffff;

    &::after {
      background-color: #ffffff;
      background-image: url("/__spritemap#sprite-link-arrow-hover-view");
      background-size: 10px 10px;
    }
  }

  &:active {
    background-color: #316dc2;
    color: rgba(255, 255, 255, 0.7);

    &::after {
      background-color: #ffffff;
      background-image: url("/__spritemap#sprite-link-arrow-active-view");
      background-size: 10px 10px;
    }
  }

  &:focus {
    color: #316dc2;
    background-color: transparent;

    &::after {
      background-image: url("/__spritemap#sprite-link-arrow-focus-view");
      background-size: 10px 10px;
      background-color: #316dc2;
    }
  }

  @include media-tablet {
    width: 198px;
    gap: 30px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 31px;

    &::after {
      width: 46px;
      height: 46px;
    }
  }

  @include media-desktop {
    width: 199px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.hero__button-link.hero__button-link--disabled {
  color: #a9afb7;
  border: 1px solid #a9afb7;
  background-color: transparent;

  &::after {
    background-color: #a9afb7;
    background-image: url("/__spritemap#sprite-link-arrow-disabled-view");
  }
}

.hero__swiper-pagination-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.hero__pagination-container {
  display: flex;
  justify-content: flex-start;
}

.hero__swiper-pagination {
  position: relative;
  background-color: #ffffff;
  height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px 12px 0 0;

  &::after {
    content: " ";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-bottom-left-angle-view");
    background-repeat: no-repeat;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  padding: 0;
  border: 2px solid #316dc2;
  border-radius: 50%;
  cursor: pointer;
}

.hero__swiper-pagination .swiper-pagination-bullet:hover {
  border: 2px solid #ffffff;
  background-color: #316dc2;
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #275699;
  border: 2px solid #275699;
}
