.programs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f0efe9;

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.programs__container {
  display: grid;
  grid-template-columns: 205px 85px;
  gap: 30px 0;
  grid-template-areas:
    "title  buttons"
    "slider slider"
    "link   link";

  @include media-tablet {
    gap: 40px 0;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title  link"
      "slider slider"
      "scroll buttons";
  }
}

.programs__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  grid-area: title;
  align-self: center;
  color: #316dc2;

  @include media-tablet {
    font-size: 34px;
    line-height: 50px;
  }
}

.programs__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 52px;
  padding-top: 4px;
  padding-bottom: 4px;
  grid-area: buttons;
  justify-self: right;

  @include media-tablet {
    padding: 0;
  }
}

.programs__buttom-prev,
.programs__buttom-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &::before {
    content: " ";
    display: block;
    height: 10px;
    width: 10px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 1;
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.7;
    background-color: #ffffff;
  }
}

.programs__buttom-prev {
  &::before {
    background-image: url("/__spritemap#sprite-slider-prev-view");
  }

  &:disabled {
    &::before {
      background-image: url("/__spritemap#sprite-slider-prev-disabled-view");
    }
  }
}

.programs__buttom-next {
  &::before {
    background-image: url("/__spritemap#sprite-slider-next-view");
  }

  &:disabled {
    &::before {
      background-image: url("/__spritemap#sprite-slider-next-disabled-view");
    }
  }
}

.programs__swiper {
  width: 290px;
  grid-area: slider;

  @include media-tablet {
    width: 678px;
  }

  @include media-desktop {
    width: 1240px;
  }
}

.programs__picture-wrapper {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 109, 194, 0.2);
    border-radius: 12px;
  }
}

.programs__scrollbar-wrapper {
  display: none;

  @include media-tablet {
    display: block;
    grid-area: scroll;
    position: relative;
    align-self: center;
    height: 22px;
  }
}

.programs__swiper-scrollbar {
  --swiper-scrollbar-sides-offset: 0;
  --swiper-scrollbar-top: 10px;
  --swiper-scrollbar-bg-color: rgba(49, 109, 194, 0.2);
  --swiper-scrollbar-drag-bg-color: #316dc2;
  --swiper-scrollbar-size: 2px;

  right: -118px;

  @include media-desktop {
    right: -130px;
  }
}

.programs__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  grid-area: link;
  width: 205px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #316dc2;
  border: 1px solid #316dc2;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 31px;
  border-radius: 44px;
  box-sizing: border-box;

  &::after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    background-color: #316dc2;
    background-image: url("/__spritemap#sprite-link-arrow-bold-view");
    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &:hover {
    background-color: #316dc2;
    color: #ffffff;

    &::after {
      background-color: #ffffff;
      background-image: url("/__spritemap#sprite-link-arrow-hover-view");
      background-size: 10px 10px;
    }
  }

  &:active {
    background-color: #316dc2;
    color: rgba(255, 255, 255, 0.7);

    &::after {
      background-color: #ffffff;
      background-image: url("/__spritemap#sprite-link-arrow-active-view");
      background-size: 10px 10px;
    }
  }

  &:focus {
    color: #316dc2;
    background-color: transparent;

    &::after {
      background-image: url("/__spritemap#sprite-link-arrow-focus-view");
      background-size: 10px 10px;
      background-color: #316dc2;
    }
  }

  @include media-tablet {
    width: 234px;
    letter-spacing: 0.28px;
    font-size: 14px;
    line-height: 14px;

    &::after {
      width: 46px;
      height: 46px;
    }
  }
}

.program__slide-image {
  display: block;
  border-radius: 12px;
}

.programs__swiper-slide {
  position: relative;
}

.programs__text-wrapper {
  position: absolute;
  bottom: 18px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include media-tablet {
    bottom: 10px;
    left: 20px;
    right: 20px;
  }

  @include media-desktop {
    right: 51px;
    bottom: 17px;
  }
}

.programs__text-wrapper h3 {
  position: relative;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 12px 12px 0 0;
  background-color: #ffffff;
  color: #316dc2;
  box-sizing: border-box;
  width: 148px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("/__spritemap#sprite-bottom-left-angle-view");
    background-repeat: no-repeat;
    right: -18px;
    bottom: 0;
  }

  @include media-tablet {
    width: 173px;
    font-size: 20px;
    line-height: 14px;
  }

  @include media-desktop {
    width: 194px;
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__text-wrapper p {
  margin: 0;
  color: #484848;
  font-size: 12px;
  line-height: 14px;
  width: 175px;

  @include media-tablet {
    font-size: 14px;
    line-height: 20px;
    width: 202px;
  }

  @include media-desktop {
    line-height: 18px;
    width: 239px;
  }
}

.programs__item-link {
  display: block;
  width: 30px;
  height: 30px;
  gap: 0 29px;
  background-color: #316dc2;
  background-image: url("/__spritemap#sprite-link-arrow-bold-view");
  background-size: 8px 8px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  align-self: center;
}

.programs__content {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 0 12px 12px;

  @include media-tablet {
    width: 284px;
  }

  @include media-desktop {
    width: 321px;
  }
}
