.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f0efe9;

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "title  buttons"
    "slider slider";
  gap: 30px 0;

  @include media-tablet {
    gap: 40px 0;
    overflow: hidden;
    grid-template-areas:
      "title  title"
      "slider slider"
      "scroll buttons";
  }
}

.reviews__title {
  color: #316dc2;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  grid-area: title;

  @include media-tablet {
    font-size: 34px;
    line-height: 50px;
  }

  @include media-desktop {
    font-size: 50px;
    padding: 5px 3px;
  }
}

.reviews__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 52px;
  padding-top: 4px;
  padding-bottom: 4px;
  grid-area: buttons;
  justify-self: right;

  @include media-tablet {
    width: 54px;
    gap: 10px;
    padding: 0;
  }
}

.reviews__buttom-prev,
.reviews__buttom-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &::before {
    content: " ";
    display: block;
    height: 10px;
    width: 10px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 1;
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.7;
    background-color: #ffffff;
  }
}

.reviews__buttom-prev {
  &::before {
    background-image: url("/__spritemap#sprite-slider-prev-view");
  }

  &:disabled {
    &::before {
      background-image: url("/__spritemap#sprite-slider-prev-disabled-view");
    }
  }
}

.reviews__buttom-next {
  &::before {
    background-image: url("/__spritemap#sprite-slider-next-view");
  }

  &:disabled {
    &::before {
      background-image: url("/__spritemap#sprite-slider-next-disabled-view");
    }
  }
}

.swiper.reviews__swiper {
  width: 290px;
  grid-area: slider;

  @include media-tablet {
    width: 678px;
    overflow: visible;
  }

  @include media-desktop {
    width: 1240px;
    overflow: hidden;
  }
}

.reviews__scrollbar-wrapper {
  display: none;

  @include media-tablet {
    display: block;
    grid-area: scroll;
    position: relative;
    align-self: center;
    height: 22px;
  }
}

.reviews__swiper-scrollbar {
  @include media-tablet {
    --swiper-scrollbar-sides-offset: 0;
    --swiper-scrollbar-top: 10px;
    --swiper-scrollbar-bg-color: rgba(49, 109, 194, 0.2);
    --swiper-scrollbar-drag-bg-color: #316dc2;
    --swiper-scrollbar-size: 2px;

    right: 64px;
  }

  @include media-desktop {
    right: 50px;
  }
}

.swiper-slide.reviews__swiper-slide {
  border: 2px solid #316dc2;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 30px 15px;

  @include media-tablet {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-content: start;
    width: 560px;
    padding: 50px;
  }

  @include media-desktop {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 46px;
    min-height: 483px;
  }
}

.reviews__name {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #316dc2;

  @include media-tablet {
    font-size: 20px;
    line-height: 24px;
  }

  @include media-desktop {
    font-size: 18px;
  }
}

.reviews__label-title {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #316dc2;
  letter-spacing: 0.12px;
  font-size: 12px;
  line-height: 12px;

  @include media-tablet {
    margin-bottom: 11px;
  }
}

.reviews__label-data {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #484848;

  @include media-tablet {
    font-size: 14px;
    line-height: 20px;
  }

  @include media-desktop {
    line-height: 18px;
  }
}

.reviews__data-wrapper {
  display: grid;
  grid-template-columns: 108px 123px;
  gap: 0 25px;
  margin-top: 15px;

  @include media-tablet {
    grid-template-columns: max-content max-content; /* 126px 78px */
    align-self: center;
    margin: 0;
  }
}

.reviews__main-text {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 18px;
  color: #316dc2;

  @include media-tablet {
    font-size: 20px;
    line-height: 24px;
    grid-column: 1 / -1;
    margin-top: 30px;
  }

  @include media-desktop {
    font-size: 24px;
    line-height: 26px;
  }
}

.reviews__text-wrapper {
  grid-column: 1 / -1;
}

.reviews__text-wrapper p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #484848;

  @include media-tablet {
    font-size: 16px;
    margin-top: 25px;
  }

  @include media-desktop {
    font-size: 16px;
    line-height: 26px;
  }
}

.reviews__image {
  display: block;
  border-radius: 50%;
}

.reviews__picture-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media-tablet {
    align-self: baseline;
    gap: 15px;
  }
}
